$background-primary-dark: #2e2f30;
$background-primary-light: #ffffff;

$background-secondary-dark: #222324;
$background-secondary-light: #f8f8f8;

$box-shadow-light: rgba(0, 0, 0, 0.2);
$box-shadow-dark: rgba(0, 0, 0, 0.2);
